{%  extends 'pcoverzicht/pcoverzicht_base.html' %}
{% load crispy_forms_tags %}
{% load propeller %}
{% block title %}Computer aanpassen{% endblock %}

{% block bodyblock %}

      <div class="panel">
        <div class="panel-heading"> 
            <h3 class="panel-title">Computer aanpassen</h3>
        </div> 
        <div style="padding: 10pt">
            <form action="" method="POST" class="form">
              {% csrf_token %}
              {% propeller_form form layout='inline'%}
              <!-- {% crispy form %} -->
              {% buttons %}
              <button type="submit" class="btn btn-primary btn-sm">
                  {% propeller_icon "save" %} Opslaan
              </button>
              {% endbuttons %}
            </form>
        </div>
    <!-- </div> -->

{% endblock %}