{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% load staticfiles %}

{% load bootstrap3 %}


{% block title %}Computer aanpassen{% endblock %}

{% block bodyblock %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Computer aanpassen</h3>
        </div>
        <div style="padding: 10pt">
            <form action="" method="POST" class="form">
              {% csrf_token %}
              {% crispy form %}

            </form>
        </div>
    </div>

{% endblock %}