{%  extends 'base.html' %}
{% load propeller %}
{% load staticfiles %}

{% block sidebar %}
    <br>
    <a href="{% url 'computer:computer_list' %}" 
            class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block btn-primary btn-custom" 
                role="button">Overzicht computers
    </a>
    <a href="{% url 'computer:computer_new' %}" 
            class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block btn-primary btn-custom" 
                role="button">Nieuwe computer
    </a>
    <a href="{% url 'computer:software_list' %}" 
            class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block btn-primary btn-custom" 
                role="button">Overzicht software
    </a>
    <a href="{% url 'computer:software_new' %}" 
            class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block btn-primary btn-custom" 
                role="button">Nieuwe software
    </a>    
    <br>
{% endblock sidebar %}

{% block dashboard %}
<h1>PC OVERZICHT</h1>
    <!-- <table class="table table-condensed table-borderless" id="dev-table">
        <tbody>
            <tr> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr> 
                <td></td>
                <td></td>                        
                <td></td>
                <td></td>
            </tr>
            <tr> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>                        
            </tr>
        </tbody>
    </table> -->
{% endblock dashboard %}