{%  extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block title %}Software toevoegen{% endblock %}

{% block bodyblock %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Software Toevoegen</h3>
        </div>
        <div style="padding: 10pt">
            <form action="" method="POST" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-custom" value="Sla op">Opslaan</button>
                <a href="/pcoverzicht/software/list" class="btn btn-custom">Annuleren</a>
              {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}