{%  extends 'pcoverzicht/pcoverzicht_base.html' %}

{% load staticfiles %}
{% load propeller %}

{% block title %}Computer aanpassen{% endblock %}

{% block bodyblock %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Software aanpassen</h3>
        </div>
        <div style="padding: 10pt">
            <form action="" method="POST" class="form">
              {% csrf_token %}
              {% propeller_form form layout='horizontal'  %}
              {% buttons %}
                <button type="submit" class="btn btn-primary btn-sm" value="Sla wijziging op">
                    {% propeller_icon "save" %} Opslaan
                </button>
              {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}