<!DOCTYPE html>
{% load propeller staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block propeller_title %}django_propeller template title{% endblock %}</title>

    <!-- Bootstrap css-->
    {% propeller_css %}

    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propeller css --> 
    <link href="{% static 'css/propeller.min.css' %}" rel="stylesheet">
    <link href="http://propeller.in/components/table/css/table.css" rel="stylesheet">
    <link href="http://propeller.in/components/shadow/css/shadow.css" rel="stylesheet">
    
    <link href="{% static 'css/lavish-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if 'javascript_in_head'|propeller_setting %}
        {% propeller_javascript jquery=True %}
        <script type="text/javascript" src="{% static 'js/propeller.min.js' %}"></script>
    {% endif %}
    {% block propeller_extra_head %}{% endblock %}
</head>

<body>
    {# Check of de gebruiker is ingelogd #}
     {% if user.is_authenticated %}
        <div class="main_container"> 
            <div class="nav_bar">
                <!-- <span> 
                    <img src="/static/imgs/t-mc_logo_fc.png" alt="" height="50"> -->
                    {% if navbar %}
                        {% propeller_navbar navbar %}
                    {% endif %}
                <!-- </span> -->
            </div> <!-- End class nav_bar -->
            <div class="content">
                <div class="sidebar">
                    <p class="pmd-z-depth-1 shadow-demo" style="padding: 10px 5px 5px 5px;">
                    <!-- <div class="card"> -->
                        <!-- <div class="container-sidebar"> -->
                            {% block sidebar %}{% endblock sidebar %}
                        <!-- </div>  End class container-sidebar  -->
                        </p>
                    <!-- </div>  End class card                               -->
                </div> <!-- End class sidebar -->
                <div class="page">
                    <div class="dashboard">
                        <div class="card">
                            <div class="container">
                                {% block dashboard %}{% endblock dashboard %}
                            </div> <!-- End class container -->
                        </div> <!-- End class card -->                                
                    </div>
                    <div class="body_block">
                        <div class="card">
                            <div class="container"> 
                                <p class="pmd-z-depth-1 shadow-demo">                       
                                {% block bodyblock %}The meat and patatoes of this app...{% endblock bodyblock %} </p
                            </div> <!-- End class container -->
                        </div> <!-- End class card -->                                    
                    </div> <!-- End class body_block -->
                        <div class="propeller_content">
                            <div class="card">
                                <div class="container">                       
                                    {% block propeller_content %}django-propeller template content{% endblock %}
                                    {% if not 'javascript_in_head'|propeller_setting %}
                                    {% propeller_javascript jquery=True %}
                                    <script type="text/javascript" src="{% static 'js/propeller.min.js' %}"></script>
                                    {% endif %}
                                </div> <!-- End class container -->                                    
                            </div> <!-- End class card -->
                        </div> <!-- End class propeller -->
                    <div class="propeller_extra">
                        <div class="card">
                            <div class="container">                                                    
                                {% block propeller_extra_script %}{% endblock %}
                            </div> <!-- End class container -->                                    
                        </div> <!-- End class card -->
                    </div> <!-- End class propeller_extra -->
                </div> <!-- End class page -->
            </div> <!-- End class content -->
        </div> <!-- End class main_container -->

     {% else %}
        {# Indien niet in gelogd toon loginscherm #}
        <form id="login_form" method="post" action="/support/login/">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-6 col-xs-offset-2 col-md-offset-3 col-md-offset-4">
                        <h2>T-MC Apps Login</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Gebruikersnaam">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <hr class="colorgraph">
                        <input type="submit" class="btn btn-lg btn-custom btn-block" value="Sign In">
                    </div>
                </div>
            </fieldset>
        </form>
     {% endif %}
</body>

</html>

