{%  extends 'base.html' %}
{% load static %}

{% block sidebar %}
     {% if user.is_authenticated %}
        <br>
        <a href="{% url 'admin:index' %}" class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block" role="button">CRM</a>
        <a href="{% url 'support:case_new' %}" class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block" role="button">Verkoopkansen</a>
        <a href="{% url 'support:activity_new' %}" class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block" role="button">Projecten</a>
        <a href="{% url 'support:case_list' %}" class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block" role="button">Contracten</a>
        <a href="{% url 'support:case_list' %}" class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block" role="button">Support</a>
        <a href="{% url 'computer:computer_list' %}" class="btn pmd-btn-raised pmd-ripple-effect btn-default btn-block" role="button">PC Overzicht</a>
        <br>
    {% endif %}
{% endblock sidebar %}

{% block bodyblock %}
    <img src="static/imgs/t-mc_logo_fc.png" alt="" width="500">
{% endblock bodyblock %}
