*.pyc
*~
__pycache__
env
logs/*
venv
venv.old
db.sqlite3
.DS_Store
.idea
*.csv
.vscode/settings.json
Administration/logins.md
logs/gunicorn_supervisor.log
.idea/misc.xml
.idea/misc.xml
.idea/operations.iml
.idea/workspace.xml
.vscode/launch.json.oud
.vscode/launch.json
