{%  extends './modal_base.html' %}

{% load bootstrap3 %}

{% block title %}Maak nieuwe activiteit aan{% endblock %}

{% block bodyblock %}

        <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Nieuwe Activiteitje</h3>
        </div>
        <div style="padding: 10pt">
                <form action="" method="POST" class="form">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  Case pk: {{ case_pk }}
                  {% buttons %}
                      <button type="submit" class="btn btn-primary btn-custom"" value="Sla actie op">{% bootstrap_icon "ok" %} Opslaan</button>
                      <a href="{% url 'support:case_detail' case_pk %}" class="btn btn-primary btn-custom"">{% bootstrap_icon "remove" %} Annuleren</a>
                  {% endbuttons %}
                </form>
        </div>
    </div>

{%  endblock %}

