{%  extends './modal_base.html' %}

{% load bootstrap %}

{% block title %}Maak nieuwe activiteit aan{% endblock %}

{% block bodyblock %}

        <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Nieuwe Activiteit</h3>
        </div>
        <div style="padding: 10pt">
                <form class="form-vertical">
                  {% csrf_token %}
                  {{ form | bootstrap }}
                    <div class="form-group" style="padding: 10pt">
                      <button type="submit" class="btn btn-primary btn-custom"" value="Sla actie op">Opslaan</button>
                      <a href="{% url 'support:case_detail' case_pk %}" class="btn btn-primary btn-custom"">Annuleren</a>
                    </div>
                </form>
        </div>
    </div>

{%  endblock %}

