{%  extends './support_base.html' %}


{% load bootstrap3 %}

{% block title %}Update Activiteit{% endblock %}

{% block bodyblock %}

        <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Update Activiteit</h3>
        </div>
        <div style="padding: 10pt">
                <form action="" method="POST" class="form">
                  {% csrf_token %}
                  {% bootstrap_form form%}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary btn-custom" value="Sla actie op">{% bootstrap_icon "ok" %} Opslaan</button>
                    <button type="cancel" class="btn btn-primary btn-custom" value="cancel">{% bootstrap_icon "remove" %} Annuleren</button>
                    <a href="/support/activity/delete/{{ object.pk }}" class="btn btn-primary btn-custom">{% bootstrap_icon "remove" %} Verwijderen</a>
                  {% endbuttons %}
                </form>
                </form>
        </div>
    </div>

{%  endblock %}

