{%  extends './support_base.html' %}

{% load bootstrap3 %}

{% load staticfiles %}

{% block title %}Activiteit verwijderen{% endblock %}

{% block bodyblock %}
    <form method="post">{% csrf_token %}
        Weet je zeker dat je de activiteit "{{ object.omschrijving }}"  wilt verwijderen?
        <button type="submit" class="btn btn-primary btn-custom" name="delete" value="Delete">{% bootstrap_icon "ok" %} Verwijderen</button>
        <button type="submit" class="btn btn-primary btn-custom" name="cancel" value="Cancel">{% bootstrap_icon "remove" %} Annuleren</button>
    </form>
{% endblock %}