{%  extends './support_base.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}Support Case{% endblock %}

{% block bodyblock %}
    <div class="hero-unit">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Overzicht Support Cases</h3>
            </div>
           {% if cases %}
                <div style="padding: 5pt">
                    <table class="table" id="dev-table">
                        <thead>
                            <tr>
                                <th>Onderwerp</th>
                                <th>Datum melding</th>
                                <th>Klant</th>
                                <th>Uitvoerende</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for case in cases %}
                                 <tr> 
                                    <td><a href="{% url 'support:case_detail' case.pk %}">{{ case.onderwerp }}</a></td>
                                    <td>{{ case.datum_melding }}</td>
                                    <td>{{ case.bedrijf }}</td>
                                    <td>{{ case.uitvoerende }}</td>
                                    <td>{{ case.status }}</td>
                                 </tr>
                            {% endfor %}
                        </tbody>
                    </table>
<!--
Placeholder voor het modal form
-->
                    <div id="ModalID" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
<!--
Button voor openen van het modal form
-->  
                    <a href="{% url 'support:case_new' %}" 
                                data-target="#ModalID" 
                                data-toggle="modal" 
                                data-backdrop="static" 
                                data-keyboard="false" 
                                class="btn btn-primary btn-custom">Support Case Toevoegen</a>                     
<!--
Einde modal form
-->
                </div>
            {% else %}
                <h1>No cases in the list!</h1>
            {% endif %}
        </div>
    </div>


{%  endblock %}

