{%  extends './support_base.html' %}

{% load bootstrap3 %}

{% load staticfiles %}

{% block title %}Support case verwijderen{% endblock %}

{% block bodyblock %}
    <form method="post">{% csrf_token %}
        Weet je zeker dat je de case "{{ object }}"  wilt verwijderen?
        <button type="submit" class="btn btn-primary btn-custom" value="Delete">{% bootstrap_icon "ok" %} Verwijderen</button>
        <a href="/support/case/list" class="btn btn-primary btn-custom">{% bootstrap_icon "remove" %} Annuleren</a>
    </form>
{% endblock %}