{%  extends './support_base.html' %}

{% load bootstrap3 %}

{% block title %}Maak nieuwe case aan{% endblock %}

{% block bodyblock %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Nieuwe Case</h3>
        </div>
        <div style="padding: 10pt">
            <form action="" method="POST" class="form">
              {% csrf_token %}
              {% bootstrap_form form layout='inline'%}
              {% buttons %}
                    <button type="submit" class="btn btn-primary btn-custom" value="Sla actie op">{% bootstrap_icon "ok" %} Opslaan</button>
                    <a href="/support/case/list" class="btn btn-primary btn-custom">{% bootstrap_icon "remove" %} Annuleren</a>
              {% endbuttons %}
            </form>
        </div>
    </div>

{%  endblock %}