{%  extends './modal_base.html' %}

{% load bootstrap %}

{% block title %}Maak nieuwe case aan{% endblock %}

{% block bodyblock %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Nieuwe Case</h3>
        </div>
        <div style="padding: 10pt">
            <form class="form-vertical">
              {% csrf_token %}
              {{ form | bootstrap }}
                <div class="form-group" style="padding: 10pt">
                    <button type="submit" class="btn btn-primary btn-custom" value="Sla actie op">Opslaan</button>
                    <a href="/support/case/list" class="btn btn-primary btn-custom">Annuleren</a>
                </div>
            </form>
        </div>
    </div>

{%  endblock %}

{% block script %}
    <!-- Form.Media Nodig voor Select2 autocomplete -->
    {{ form.media }}
    <!-- Form.Media Nodig voor Select2 autocomplete -->
{% endblock %}