{%  extends './support_base.html' %}

{% load staticfiles %}
{% load static %}
{% load bootstrap %}
{% load propeller %}
{% block title %}Case - Activiteiten{% endblock %}

{% block bodyblock %}

<!-- {% propeller_form form layout='horizontal' set_disabled='True'%} -->
     <div class="hero-unit">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Case Details</h3>
            </div>
            <!-- Readonly Input -->
            <div class="container">
                <div class="row">
                    <div class="form-group pmd-textfield">
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Onderwerp
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">{{ cases.onderwerp }}</div>
                        </div>
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Datum melding
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">{{ cases.datum_melding }}</div>
                        </div>
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Omschrijving
                            </label>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">{{ cases.omschrijving }}</div>
                        </div>
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Bedrijf
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">{{ cases.bedrijf }}</div>
                        </div>
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Contact
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">{{ cases.contact }}</div>
                        </div>
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Status
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">{{ cases.status }}</div>
                        </div>
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Datum gereed
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">{{ cases.datum_gereed }}</div>
                        </div>
                        <div class="col-md-2 textRight">
                            <label class="control-label">
                                Uitvoerende
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">{{ cases.uitvoerende }}</div>
                        </div>
                    </div>
                </div>                                                
<!--
Placeholder voor het modal form
-->
            <div id="ModalID" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
<!--
Button voor openen van het modal form
-->  
            <a href="{% url 'support:case_update' cases.id %}"
                        data-target="#ModalID" 
                        data-toggle="modal" 
                        data-backdrop="static" 
                        data-keyboard="false" 
                        class="btn btn-primary btn-custom btn-xs">{% propeller_icon "edit" %} Case aanpassen</a>                     
<!--
Einde modal form
-->
            <div class="panel-heading">
                <h3 class="panel-title">Uitgevoerde Activiteiten</h3>
            </div>
           {% if activities %}
                <div style="padding: 5pt">
                    <table class="table table-condensed" id="dev-table">
                        <thead>
                            <tr>
                                <th>Activiteit</th>
                                <th>Status</th>
                                <th>Omschrijving</th>
                                <th>Uitvoerende</th>
                                <th>Datum uitgevoerd</th>
                                <th>Tijdsduur</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for activity in activities %}
                                 <tr> 
                                    <td><a href="{% url 'support:activity_update' activity.pk %}">{{ activity.activiteit }}</a></td>
                                    <td>{{ activity.status }}</td>
                                    <td>{{ activity.omschrijving }}</td>
                                    <td>{{ activity.uitvoerende }}</td>
                                    <td>{{ activity.datum_uitgevoerd }}</td>
                                    <td>{{ activity.tijdsduur }}</td>
                                 </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            {% else %}
                <h1>No activities in the list!</h1> 
            {% endif %}

<!--
Placeholder voor het modal form
-->
                    <div id="ModalID" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
<!--
Button voor openen van het modal form
-->  
                    <a href="{% url 'support:activity_new' cases.case_code %}" 
                                class="btn btn-primary btn-custom btn-xs">{% propeller_icon "add" %} Activiteit Toevoegen</a>                     
<!--
Einde modal form
-->            
            {% comment %}<a href="{% url 'support:activity_new' cases.case_code %}" class="btn btn-primary btn-custom">Activiteit Toevoegen</a>{% endcomment %}
        </div>
    </div>
{%  endblock %}
