<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    <!-- Aangepaste bootstrap css op basis van het nieuwe logo -->

        <link href="{% static 'css/lavish-bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/operations.css' %}" rel="stylesheet">
        <link href="{% static 'css/bs-styles.css' %}" rel="stylesheet">

        <title>T-MC - {% block title %}Support App!{% endblock %}</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'imgs/favicon.ico' %}">

    </head>

    <body>

        {% block dashboard %}
        {% endblock dashboard %}
        {% block bodyblock %}
            De inhoud van de pagina
        {% endblock %}

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>