{%  extends 'base.html' %}
{% load propeller %}
{% load staticfiles %}

{% block sidebar %}
    <a href="{% url 'support:case_list' %}" class="btn pmd-btn-outline pmd-ripple-effect btn-default btn-block" role="button">Overzicht</a>
    <a href="{% url 'support:case_new' %}" class="btn pmd-btn-outline pmd-ripple-effect btn-default btn-block" role="button">Nieuwe case</a>
    <a href="{% url 'support:activity_new' %}" class="btn pmd-btn-outline pmd-ripple-effect btn-default btn-block" role="button">Nieuwe activiteit</a>
{% endblock sidebar %}

{% block dashboard %}
    <table class="table table-condensed table-borderless" id="dev-table">
        <tbody>
            <tr> 
                <td># Actieve cases</td>
                <td>12</td>
                <td># Wacht op reactie klant</td>
                <td>4</td>
            </tr>
            <tr> 
                <td># Behandelde cases</td>
                <td>42</td>                        
                <td># Wacht op reactie TIBCO</td>
                <td>6</td>
            </tr>
            <tr> 
                <td>% Binnen SLA</td>
                <td>98</td>
                <td></td>
                <td></td>                        
            </tr>
        </tbody>
    </table>
{% endblock dashboard %}